/*
 * "URLs starting with:" https://grooveshark.com
 * "URLs starting with:" http://grooveshark.com
 */
#page-wrapper.theme
{
  background: url(assets/stage_background.jpg) top center no-repeat rgb(0, 0, 0);
}

#home-dashboard-user .welcome-message 
{
  color: rgb(0,0,0);
  text-shadow: none;
}

#page-nav
{
  background: rgb(45,45,45);
  color: rgb(0,0,0);
  text-shadow: none;
}

#page-inner {
  background: rgb(45,45,45);
  color: rgb(0,0,0);
}

.module-inner
{
  background: rgb(64,64,64);
  color: black;
}

.btn
{
  background: rgb(64,64,64);
  color: rgb(247, 127, 0);
  text-shadow: none;
}

.next-pageable-nav .section-page-back,
.previous-pageable-nav .section-page-back
{
  background: rgb(64,64,64);
  color: rgb(0,0,0);
  text-shadow: none;
}

#page-content.home .section-title
{
  color: rgb(0,0,0);
  text-shadow: none;
}
